.NAVBAR {
    animation: nav-load 500ms ease-in;

}

@keyframes nav-load {
    0% {
        transform: translateX(-80%);
    }

    100% {
        transform: translateX(0);
    }
}

.SHOPPINGCART {
    visibility: hidden;
}



@media (min-width: 500px) and (max-width: 638px) {

    /* … */
    .SHOPPINGCART {
        visibility: visible;
    }

    .FORM {
        margin-left: 150px !important;
    }

    .DROP{
        right: 45px !important;
    }
}