
.TITLE {
    font-family: 'Source Sans Pro',
        sans-serif;
}

.HEADER {

    font-family: 'PT Sans', sans-serif;
}

.STYLE {
    font-family: 'Raleway', sans-serif;
}

.RATING {
    font-family: 'Source Sans Pro', sans-serif;
}

.PRICE {
    font-family: 'Nunito', sans-serif;
}